{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Informações do Registro</h2>

    {% if entity %}
        {% for key, value in entity.items() %}
            <div class="detail-group">
                <span class="detail-label">{{ key | replace('_', ' ') | title }}:</span>
                <span class="detail-value">{{ value }}</span>
            </div>
        {% endfor %}
    {% else %}
        <p><i>Registro não encontrado ou indisponível.</i></p>
    {% endif %}
</div>
{% endblock %}