{% extends "base.html" %}

{% block content %}
<div class="homegrid">
    <div class="card">
        <h1> 
            Desenvolvimento Seguro de Aplicações Web
             <span style="font-weight: 400"> ─ Assessment </span>
        </h1> 
        <div style="display: flex; justify-content: center;">
            <img src="/static/InfnetLogo.png" alt="infnet logo"/>
        </div>
        <p> Por João Victor Cícero de M. T. Ramos </p>
        <p><i>Instituto Infnet ─ Setembro de 2026</i></p>
    </div>
    <div class="card">
        <h2> Apresentação do trabalho </h2>
        <p>A defesa em video deste assessment pode ser encontrada no seguinte link do <b>google drive</b>:</p>
        <ul> <li> no link yet  </li> </ul>
    </div>
    <div class="card">
        <h2> Repositório </h2>
        <p>O repositório referente a este AT pode ser encontrado atraves do seguinte link do <b>Github</b> :</p>
        <ul> <li> <a href="https://github.com/jvcmtr/desenvolvimento_seguro_at"> github.com/jvcmtr/desenvolvimento_seguro_at</a></li> </ul>
    </div>
        <div class="card">
        <h2> Rotas uteis </h2>
            <p> 
                ⏵ <span class="code"> GET /ping</span> ─
                <a href="/ping">Status</a> 
            </p> 
            <p>
                ⏵ <span class="code"> GET /docs</span> ─
                <a href="/docs">Documentação da API</a> <i> (Swagger)</i> 
            </p>
            <p> 
                ⏵ <span class="code"> GET /documents/relatorio.md</span> ─
                <a href="/documents/relatorio.md">Relatório do projeto</a> 
            </p> 
            <!-- <p> 
                ⏵ <span class="code"> GET /sourcecode/main.py</span> ─
                <a href="/sourcecode/main.py">Código fonte do projeto</a> 
            </p> -->
    </div>
</div>


{% endblock %}
